body {
    background-image: linear-gradient(#636162, #b1afaf);
    height: 122vh;
    font-weight: bold;
    letter-spacing: 2px;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat',sans-serif;
}
.main {
    background-color: white;
    height: auto;
    width: 650px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 60%;
}
.left {
    background-color: aqua;
    width: 200px;
    height: 100%;
    float: left;
}
.right {
    width: 450px;
    float: left;
}
.profile-img {
    height: 190px;
    width: 190px;
    background-color: #ddd;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 60px;
    border: 10px solid aqua;
    box-shadow: 6px 7px 9px 5px aquamarine;

}
.profile-img img {
    width: 100%;
    border-radius: 50%;
}
.box-1 {
    position: relative;
}
.heading {
    background-color: #4d4d4d;
    padding: 10px;
    color: yellow;
    text-align: left;
    padding-left: 20px;
    margin-right: -15px;
}
.heading::after {
    content: '';
    position: absolute;
    width: 21px;
    height: 18px;
    background-color: #5a5959;
    left: 191px;
    top: 26px;
    transform: rotate(56deg);
    z-index: -1;
}
.p1 {
    padding: 9px 10px;
    font-size: 11px;
}
.icons1 {
    font-size: 16px!important;
    padding-right: 10px!important;
    vertical-align: sub;
}
.skill-container {
    width: 90%;
    background-color: #4d4d4d;
    margin: 0px 10px;
}
.skill {
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
}
.html {
    width: 90%;
    background-color: white;
}
.css {
    width: 85%;
    background-color: white;
}
.js {
    width: 85%;
    background-color: white;
}
.ccc {
    width: 90%;
    background-color: white;
}

.pascal {
    width: 95%;
    background-color: white;
}

.teaching {
    width: 95%;
    background-color: white;
}
.communication {
    width: 95%;
    background-color: white;
}
.icons2 {
    padding: 18px 10px;
}
.name-div {
    padding: 86px 0px 60px 55px;
    text-align: center;
    letter-spacing: 3px;
}
.name-div h1 {
    margin-bottom: 10px;
}
.box-2 {
    padding: 0px 50px;
    margin-top: 19px;
}

h2 {
    font-size: 16px;
    margin-bottom: 15px;
}
.icons3 {
    vertical-align: bottom;
    font-size: 20px!important;
    color: rgb(9, 152, 40);
}
.heading2 {
    padding: 1px;
    text-align: left;
    padding-left: 25px;
    margin-right: -15px;
    font-size: 23px;
    color: red;
}

.p2 {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0px;
    word-spacing: 2px;
    line-height: 18px;
    margin-top: 5px;
}
.p3 {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0px;
    word-spacing: 2px;
    line-height: 18px;
    margin-top: 5px;
}